img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.markdown-source-view.mod-cm6 .cm-content > * {
    margin: auto auto !important;
    padding-top: 0px;
    padding-bottom: 0px;
}

.CodeMirror pre.CodeMirror-line {
    line-height: 1.4;/*height of a*/
    padding-top: 0px; /*the lower part of height of b*/
    padding-bottom: 0px;/*the upper part of height of b*/
  }



