// $font-family-chinese = "Microsoft YaHei"
$font-family-chinese = "Noto Serif SC"
$font-family-posts = "Carbo", $font-family-chinese

// $font-family-monospace = consolas, Menlo, monospace, $font-family-chinese
// $font-family-monospace = get_font_family('codes'), consolas, Menlo, monospace, $font-family-chinese if get_font_family('codes')

//$font-size-base = 16px
//$font-size-posts = 1px

// blockquote 引用块
article .post-body p {
    line-height: 1.5em;
    margin: 0 0 0.5em 0;
}
article .post-body ol {
    line-height: 2em;
    margin: 0 0 1em 0;
}
article .post-body blockquote {
    margin-bottom: 15px;
    border-left: 4px solid rgb(56, 132, 255);
    border-radius: 0.3rem;
    padding: 0.4rem;
}
article .post-body blockquote p {
    margin: 0;
}
article .post-body img {
    box-shadow: 1px 1px 3px 1px #aaa;
    margin-bottom: 10px;
    border: none;
}
// a 链接（不处理'目录'和'阅读全文按钮'的链接）
article .post-body>*:not(.post-body-toc):not(.post-button) a {
    color: #3884FF;
    border: none;
    margin: 0 5px;
}
article .post-body>*:not(.post-body-toc):not(.post-button) a:hover {
    color: #2d6cd2;
}
// 行内代码
article .post-body code {
    border-radius: 3px;
    margin: 0px 2px;
    font-size: 0.9em;
    color: #e96900;
}

// em 斜体字
article .post-body em {
    font-size: 1em;
    border-bottom: 1px dashed #666;
    margin: 0 2px;
}

//文章目录默认展开
.post-toc .nav .nav-child { display: block; }
.post-toc ol {  
  font-size : 1em;     
}