$font-family-chinese = "Noto Serif SC", "PingFang SC", "Microsoft YaHei"

$font-family-posts = "Times New Roman", $font-family-chinese

$font-family-monospace = consolas, Menlo, monospace, $font-family-chinese
$font-family-monospace = get_font_family('codes'), consolas, Menlo, monospace, $font-family-chinese if get_font_family('codes')

//$font-size-base = 16px
//$font-size-posts = 1px